/* *{
    border: 1px dashed white;
} */

@media (min-width: 576px){
    .text{
        position: unset;
    }
}
.actorCard{
    position: relative;
}
.actorCard img{
    position: sticky;
    top: 0;
    width: 100%;
}
#cast{
    overflow-x: scroll;
}
.actorCard small{
    opacity: 70%;
}
main{
    background-color: unset;
}